<form>

    <div  class = "example-container">
        <mat-form-field class="example-full-width">
          <input [(ngModel)] = "email" name = "email" matInput placeholder="Email">
          <mat-hint>Your Email</mat-hint>
        </mat-form-field>
      </div>
      
      <div class = "example-container">
        <mat-form-field class="example-full-width">
            <input [(ngModel)] = "password" name = "password" matInput placeholder="Password">
            <mat-hint>Try as strongs as possible</mat-hint>
          </mat-form-field>
        </div>
      
        <button mat-raised-button color="primary" (click)="login()">Login</button>
      </form>