<mat-card>
<span><a routerLink = "books">Books</a> </span>

<span *ngIf ="!(auth.user | async)"><a routerLink = "login">Login</a> </span>
<span *ngIf ="!(auth.user | async)"><a routerLink = "register">Register</a> </span>
<span> <button mat-flat-button color="warn" *ngIf ="auth.user | async" (click) = "logout()">Logout</button></span>
</mat-card>