<h3 *ngIf ="!(auth.user | async)"><a [routerLink]="['/register']">Register</a> or <a [routerLink]="['/login']">Login</a> to manage your reading list</h3>

<div *ngIf ="auth.user | async"> 
<h1 *ngFor="let name of names">
        <div *ngIf="!name.nickname == ''">Welcome: {{name.nickname}}    
        </div>
</h1>
</div>

 
<span *ngIf ="auth.user | async"> 
        <mat-form-field class="example-full-width">
          <input [(ngModel)] = "bookname" name = "bookname" matInput placeholder="your book">
          <mat-hint>Add book</mat-hint>
        </mat-form-field>
    </span>
    <span *ngIf ="auth.user | async">
            <mat-form-field class="example-full-width">
              <input [(ngModel)] = "writeby" name = "writeby" matInput placeholder="name of author">
              <mat-hint>Writte by</mat-hint>
            </mat-form-field>
        </span>
        <div *ngIf ="auth.user | async">
                <button mat-raised-button color="primary" (click)="addBook()">Add book</button>
        </div>
    
<div *ngIf ="auth.user | async">
<app-book *ngFor = "let book of books" [data] = "book"></app-book> </div>