<li
 (mouseenter) = "showAuth()"
(mouseleave) = "Notshow()">

<mat-checkbox (change) = "save()" [(ngModel)]="done"></mat-checkbox>
<span (click) = "seeUpdate()" *ngIf = "!show5">
    <span>name: {{name}}</span> <span *ngIf = "show2">written by: {{write}}</span>
</span>



    <span *ngIf = "show5">
        <mat-form-field>
            <input [(ngModel)] = "name" name = "name" matInput placeholder="Email">
        </mat-form-field>
          <mat-form-field>
              <input [(ngModel)] = "write" name = "write" matInput placeholder="Email"> 
            </mat-form-field>

            <button mat-raised-button color="primary" (click) = "save()">Save</button>
           
            <button mat-raised-button color="warn" (click) = "cancel()">Cancel</button>

          </span>



</li>

