<form> 

 
    <div  class = "example-container">
  <mat-form-field class="example-full-width">
    <input [(ngModel)] = "name" name = "name" matInput placeholder="First name">
    <mat-hint>Your first name</mat-hint>
  </mat-form-field>
</div>
<div class ="warning" *ngIf = "show1">name is required</div>

<div  class = "example-container">
  <mat-form-field class="example-full-width">
    <input [(ngModel)] = "nick" name = "nick" matInput placeholder="Nickname">
    <mat-hint>Your nickname for this website</mat-hint>
  </mat-form-field>
</div>
<div class ="warning" *ngIf = "show2">nickname is required</div>

<div  class = "example-container">
  <mat-form-field class="example-full-width">
    <input [(ngModel)] = "email" name = "email" matInput placeholder="Email">
    <mat-hint>Your Email</mat-hint>
  </mat-form-field>
</div>
<div class ="warning" *ngIf = "code == 'auth/email-already-in-use'">{{msg}}</div>
<div class ="warning" *ngIf = "code == 'auth/invalid-email'">{{msg}}</div>
<div class ="warning" *ngIf = "show3">email is required</div>

<div class = "example-container">
  <mat-form-field class="example-full-width">
      <input [(ngModel)] = "password" name = "password" matInput placeholder="Password">
      <mat-hint>Try as strongs as possible</mat-hint>
    </mat-form-field>
  </div>
  <div class ="warning" *ngIf = "code == 'auth/weak-password'">{{msg}}</div>
  <div class ="warning" *ngIf = "show4">password is required</div>

<div class = "example-container">
    <mat-form-field class="example-full-width">
        <input [(ngModel)] = "password2" name = "password2" matInput placeholder="re-password">
        <mat-hint>re wirte your password</mat-hint>
      </mat-form-field>
    </div>
    <div class ="warning" *ngIf = "refil">the passwords not matchs</div>
 
  <button mat-raised-button color="primary" (click)="signup()">Sign up</button>
</form>
